@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


/***************************************************
                    *   Blog Page     *
****************************************************/
.blog-page {
    padding: 20px;
}

.blog-header {
    text-align: center;
    margin-bottom: 40px;
}

.blog-header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Outfit';
}

.blog-header p {
    font-size: 1.2rem;
    color: gray;
}

.blog-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.blog-post {
    width: 30%;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s;
}

.blog-post:hover {
    transform: translateY(-10px);
}

.blog-post img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

.blog-post h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.blog-post p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
}

.read-more {
    padding: 10px 20px;
    background-color: #000;
    color: white;
    border: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

.read-more:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

